---
import Layout from "../layouts/Layout.astro";
import IconText from "../components/IconText.astro";
---

<Layout title="Contacto" show_call_to_action={false}>
  <main>
    <div class="section">
      <div class="container">
        <div class="columns">
          <div
            id="info"
            class="column is-flex is-flex-direction-column line-r is-justify-content-center is-flex-wrap-wrap"
          >
            <IconText
              icon="apartment"
              title='Julio Moreno y Rosario del Alcazar, Quito 170801<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13419.907538757769!2d-78.48140051606445!3d-0.30340071557305237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5bd063fa71fab%3A0xd8f35642c6ae205f!2sCOPELSA!5e0!3m2!1sen!2sec!4v1648098656367!5m2!1sen!2sec" width="100%" height="150" allowfullscreen="" loading="lazy" style="border: 0;"></iframe>'
            />
            <hr />
            <IconText icon="email" title="info@copelsa.org<br>inghectorsalazar@copelsa.org<br>ingluissalazar@copelsa.org" />
            <hr />
            <IconText icon="schedule" title="Lunes a Viernes<br>8:00-18:00" />
            <hr />
            <IconText
              icon="phone"
              title="0994924706<br>0987492930<br>4514045"
            />
          </div>
          <div class="column line-l">
            <h1 class="title-text">Envíanos Tus Requerimientos</h1>
            <form action="https://formspree.io/f/mpzbjzlk" method="post">
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="Nombre Apellido"
                    required
                    name="nombres"
                  />
                </div>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input
                    class="input"
                    type="email"
                    placeholder="ejemplo@gmail.com"
                    required
                    name="email"
                  />
                </div>
              </div>
              <div class="field">
                <label class="label">Teléfono</label>
                <div class="control">
                  <input
                    class="input"
                    type="tel"
                    placeholder="0999999999"
                    maxlength="10"
                    required
                    name="phone"
                  />
                </div>
              </div>

              <div class="field">
                <label class="label">Mensaje</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    required
                    placeholder="Mensaje"
                    name="message"></textarea>
                </div>
              </div>

              <div class="field">
                <div class="control has-text-centered">
                  <button class="button"
                    >Enviar</button
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  #info p {
    font-size: 1.5rem !important;
  }
  #info span {
    font-size: 2rem;
  }

  .container {
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0 4px 4px #00000040;
    border-radius: 10px;
  }
  .line-r {
    border-right: groove 1px #d5eca0;
  }
  .line-l {
    border-left: groove 1px #d5eca0;
  }
  .columns {
    padding: 1.5em;
  }
  label {
    color: #150f59 !important;
  }
</style>
