---
import Layout from "../layouts/Layout.astro";
import cover from "../images/cover_nosotros.jpg";
import mision from "../images/mission.png";
import vision from "../images/vision.png";
import valores from "../images/values.png";
---

<Layout title="Nosotros">
  <main>
    <div class="hero">
      <img src={cover} alt="nosotros cover" />
    </div>
    <div class="section">
      <div class="container">
        <h1 class="title-text">COPELSA</h1>
        <p>
          La empresa COPELSA (Construcciones de Proyectos Eléctricos y Mecánicos Salazar) es
          una empresa que se dedica a la realización de proyectos de Ingeniería
          Eléctrica y Mecánica, en el área eléctrica se dedica a la elaboración
          de proyectos de redes de distribución de energía eléctrica,
          telefónicos, instalaciones eléctricas residenciales e industriales,
          diseño, aprobación y construcción de tableros armarios de
          distribución, cámaras de transformación de edificaciones, industrias y
          conjuntos residencial, entre otros bienes y servicios relacionados con
          la Ingeniería Eléctrica que produce. En el área de la Ingeniería
          Mecánica se desempeña en el diseño y construcción de sistemas contra
          incendios, planificación, diseño y construcción de estructuras
          metálicas en acero, diseño de máquinas, control de calidad de
          soldadura, ensayos no destructivos, entre otros. COPELSA ofrece además
          los servicios de: elaboración de diseños y planos eléctricos de redes
          de distribución aéreas, subterráneas, redes eléctricas inteligentes y
          generación distribuida, diseños telefónicos, diseño de instalaciones
          domiciliarias e industriales para aprobar en las entidades municipales
          como es el (CAE), diseño de sistemas contra incendios para aprobar en
          el Cuerpo de Bombero del Distrito Metropolitano de Quito, elaboración
          de ensayos no destructivos bajo normativas INEN y la asesoría para
          otras empresas o instituciones en todas las áreas mencionadas. Los
          bienes los genera a partir de la construcción de todos estos diseños,
          así como instalación de equipos electrógenos, medidores de energía
          eléctrica inteligente, construcción de estructuras metálicas en acero,
          de sistemas contra incendios y de sistemas de puesta a tierra para
          sistemas de bajo, medio, alto y extra alto voltaje.
        </p>

        <p>
          La empresa COPELSA trabaja como contratista calificado en la Empresa
          Eléctrica Quito desde 2004, el alcance de esta empresa es nacional, ya
          que ha elaborado proyectos de redes de distribución aéreas en las
          regiones Costa, Sierra, Amazonía e incluso ha prestado servicios en
          las Islas Galápagos. El público objetivo son todas aquellas personas,
          industrias, organizaciones y entidades que deseen contar con servicios
          eléctricos y mecánicos integrales, al ser la energía eléctrica
          catalogado como un servicio básico, todas las personas que deseen
          contar con este servicio son el objetivo primordial de la empresa.
        </p>
      </div>
    </div>
    <div class="hero" style="background-color:#f2f2f2">
      <div class="container">
        <div class="section">
          <h2 class="title-text">Misión</h2>
          <div class="columns is-align-content-center">
            <div class="column">
              <p>
                Somos una empresa destinada a desarrollar e implementar
                soluciones integrales de Ingeniería Eléctrica y Mecánica en
                todas las áreas, residencial, comercial, industrial y sistemas
                de alto voltaje, que sean técnicamente factibles, económicamente
                rentables y que perduren en el tiempo; con atención
                personalizada en las etapas de inicio, planificación, ejecución
                y cierre de cada proyecto, con un servicio postventa que
                garantice la operatividad de las soluciones desarrolladas;
                generando confianza a través de los valores con los cuales se
                rige la empresa: honestidad, responsabilidad, puntualidad,
                innovación, compromiso ambiental y compromiso social, así se
                aporta al desarrollo del país y de la sociedad.
              </p>
            </div>
            <div
              class="column is-align-items-center is-flex is-justify-content-center"
            >
              <img class="us-icon" src={mision} />
            </div>
          </div>
          <hr />
          <div class="columns">
            <div
              class="column is-align-items-center is-flex is-justify-content-center"
            >
              <img class="us-icon" src={vision} />
            </div>
            <div class="column">
              <h2 class="title-text">Visión</h2>
              <p>
                Para enero del 2028 COPELSA será una empresa líder en la
                construcción de todo tipo de proyecto civil, mecánico y
                eléctrico, tanto en el diseño como en la construcción e
                instalación de sistemas mecánicos y eléctricos, lo que
                fortalecerá el vínculo con los clientes, con una mejora continua
                de procesos, apoyándose en el talento humano que es y será el
                pilar más importante, así como el conocimiento de los
                profesionales que forman parte de la empresa, se convertirá en
                una experiencia de servicios. Usando las herramientas
                tecnológicas que proporcione el avance científico de una manera
                eficiente e innovadora se darán soluciones rápidas y confiables
                de Ingeniería Eléctrica y Mecánica.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column">
            <h2 class="title-text">Valores</h2>
            <ul>
              <li>Integridad</li>
              <li>Responsabilidad con el medio ambiente</li>
              <li>Honestidad</li>
              <li>Puntualidad</li>
              <li>Confiabilidad</li>
              <li>Respeto hacia nuestros clientes</li>
            </ul>
          </div>
          <div
            class="column is-align-items-center is-flex is-justify-content-center"
          >
            <img class="us-icon" src={valores} />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  hr {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #14c74a !important;
    height: 1px;
  }
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  p {
    margin-bottom: 1em;
  }
  .us-icon {
    height: 250px;
    width: 250px;
    background-color: #fff;
    border: solid black 1px;
    border-radius: 50%;
    padding: 1em;
    box-shadow: 1px 1px 10px #000c;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  li:before {
    content: "bolt";
    color: #fccc2b;
    font-family: Material Icons;
  }
</style>
