<div class="section">
  <div class="container">
    <div
      class="columns is-justify-content-center is-align-content-center is-align-items-center"
      id="call-div"
    >
      <div class="column is-three-quarters">
        <div class="column">
          <p>
            <span class="title"> Copelsa Trabaja Como Esperas</span><br /><br />
            Soluciones eléctricas seguras, eficaces e inmediatas<br />
            Con la garantia de ingenieros de la Escuela Politécnica Nacional
          </p>
        </div>
      </div>
      <div class="column is-one-quarter">
        <a href="/contacto" class="button is-flex">Contactanos</a>
      </div>
    </div>
  </div>
</div>
<style>
  .container {
    padding: 1.5rem;
    color: white;
  }
  span.title {
    color: white;
  }
  #call-div {
    border-radius: 10px;
    background-color: #22396d;
    box-shadow: 1px 1px 10px #000c;
    min-height: 200px;
    padding: 1rem;
  }
  .button {
    background-color: #fccc2b !important;
  }
  .button:hover {
    background-color: #395d41 !important;
    color: white !important;
  }
</style>
