---
import IconText from "../components/IconText.astro";
---

<style>
    h1.title-text {
        font-size: 1.5rem;
        color: white;
    }
    h2 {
        font-size: 1.15rem !important;
    }
    .gapped {
        gap: 1em;
    }
    .end {
        background-color: #304b36;
        color: #fff;
        position: relative;
        bottom: 0px;
    }
    p {
        margin: 0 !important;
    }
    footer {
        padding: 2rem !important;
        color: white;
        background-color: #395d41 !important;
    }
    .social:hover{
        color:#253779
    }
</style>
<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column ">
                <h1 class="title-text white">COPELSA</h1>
                <h2 class="white">Ingeniería Eléctrica y Mecánica</h2>
                <br>
                <div style="max-width: 20px; " >
                    <a href="https://www.facebook.com/copelsaingenieriaelectrica/" class="social" style="text-align: center;color:white"><fa-icon  class="ng-fa-icon social"><svg role="img" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" class="svg-inline--fa fa-facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.8 90.69 226.4 209.3 245V327.7h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.3 482.4 504 379.8 504 256z"></path></svg></fa-icon></a>
                  </div>
            </div>
            <div
            class="column is-flex is-flex-direction-column is-justify-content-center gapped"
            >
            <h1 class="title-text white">Información</h1>
            <IconText icon="apartment" title="Julio Moreno y Rosario del Alcazar, Quito 170801" />
            <IconText icon="email" title="info@copelsa.org"/>
            <IconText icon="phone" title="0994924706<br>0987492930<br>4514045" />
            </div>
        </div>
    </div>
</footer>
<div class="end">
    <p class="has-text-centered">
        © 2022 Copyright: Cepel, developed by usagiCLI
    </p>
</div>
