---
export interface Props {
    title: string;
    img:string;
}
const { title,img } = Astro.props;
---
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-flex is-flex-direction-column is-aling-items-center is-justify-content-center body">
                <h1 class='title-text blue'>{title}</h1>
                <slot name='left'/>
            </div>

            <div class="column is-flex is-flex-direction-column is-aling-items-center is-justify-content-center padded ">
                <img src={img} slot="right" style='padding:1.5em'/>
            </div>
        </div>
    </div>
</div>

<style>
    img{
        max-height: 400px;
    }
    .body h1{font-size: 1.5rem;}
    .body p{font-size: 1.25rem;}

</style>