---
export interface Props {
    icon: string;
    url: string;
}

const { icon, url } = Astro.props;
---

<div class='is-flex is-align-items-center '>
    <a href="">
        <span class="icon">
            <span class="material-symbols-outlined">{icon}</span>
        </span>
    </a>
</div>

<style>
    div {
        gap: 1em;
        padding-left: 1em;
    }
    p,
    span {
        margin: 0% !important;
        display: inline-block;
    }
</style>
